.map{
  text-align: -webkit-center;
}

#file {
  margin-top: 3vh;
  border-radius: 0.5rem;
  background: #fff;
  border-radius: 1em;
  border: solid #7DA329;
}

::-webkit-file-upload-button{
  color: #fff;
  background: #7DA329;
  padding: 0.7rem;
  border: none;
  font-weight: bold;
}

::-webkit-file-upload-button:hover{
  background: #97BF3A;
  cursor: pointer;
}

.marker-btn {
  background: none;
  border: none;
  stroke: none;
  cursor: pointer;
}

.marker-btn img {
  width: 1.5vw;
  height: auto;
  transform: translate(-14px, 0px);
}
