body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/background.png);
  background-size: contain;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  position: relative;
  margin: 2vh 18vw;
  background-color: #fff;
  padding: 3vh;
  border-radius: 1em;
  box-shadow: 0 0 15px 0 rgb(0 0 0 / 50%);
}

header{
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 20vw), 1fr));
  place-items: center;
  margin-top: 5vh;
}

.logo-ventanilla {
  padding: 2vh 0 0 3vw;
}

.logo-ventanilla img {
  height: auto;
  max-width: 100%;
  border: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.logo {
  grid-column: 2 / 4;
}

.logo-text {
  color: #215466;
  font-size: 3vw;
  font-weight: bold;
}

.text-alt {
  font-weight: 350;
  color: #7DA329;
}
